/* custom loading 1 */
video[data-testid="app-spinner"] {
    display: none;
}

div[class*="container"][class*="fixClipping"]>[class*="content"]::before {
    content: "";
    display: inline-block;
    width: 200px;
    height: 200px;
    background: url("https://raw.githubusercontent.com/XaaRii/discord-themes/vercel/assets/custom-loading1.gif") center/80% no-repeat !important;
}