/*
PUT THIS SNIPPET INTO YOUR QUICKCSS TO CUSTOMISE:

:root {
    --stream-height: fit-content;
    --stream-width: 450px;
}

*/

@import "https://raw.githubusercontent.com/XaaRii/discord-themes/master/april-fools.css";
/* Bigger stream previews */
[class*="previewContainer"] {
    height: var(--stream-height, fit-content);
}

[class*="streamPreview"] {
    width: var(--stream-width, 450px);
}
