/*
PUT THIS SNIPPET INTO YOUR QUICKCSS TO CUSTOMISE:

:root {
    --loading-image: url("https://comfy-themes.github.io/Discord/assets/bonfire.gif");
}

*/

/* ready bonfire */
:root video.ready-3BZNWT {
    display: none;
}

.content-3AIQZv::before {
    content: "";
    display: inline-block;
    /* bottom: 100px;
    left: 100px; */
    width: 200px;
    height: 200px;
    background: var(--loading-image, url("https://comfy-themes.github.io/Discord/assets/bonfire.gif")) center/80% no-repeat;
}