/*
PUT THIS SNIPPET INTO YOUR QUICKCSS TO CUSTOMISE:

:root {
    --loading-image: url("https://comfy-themes.github.io/Discord/assets/bonfire.gif");
}

*/

/* ready bonfire */
video[data-testid="app-spinner"] {
    display: none;
}

div[class*="container-"][class*="fixClipping-"] > [class*="content"]::before {
    content: "";
    display: inline-block;
    width: 200px;
    height: 200px;
    background: var(--loading-image, url("https://comfy-themes.github.io/Discord/assets/bonfire.gif")) center/80% no-repeat;
}